In [1]:
import numpy as np

In [7]:
a = np.random.randn(5,5)
a

array([[-0.62805294,  0.89847908,  0.70726494, -0.9602148 ,  0.71291091],
       [ 0.92142816,  0.23924998,  0.19946919,  0.5836433 , -0.58001145],
       [ 0.40849795, -0.20395974,  0.19004388,  0.58466565,  1.48573153],
       [ 1.78575258,  0.59575232,  0.46153473, -0.53871065, -0.20236431],
       [ 0.24378991,  0.01797186, -0.02440055, -0.28817209, -0.41247264]])

In [10]:
b = a > 1
b

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False,  True],
       [ True, False, False, False, False],
       [False, False, False, False, False]], dtype=bool)

In [11]:
a*b
if a > 1:
    print('a>1')

array([[-0.        ,  0.        ,  0.        , -0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        , -0.        ],
       [ 0.        , -0.        ,  0.        ,  0.        ,  1.48573153],
       [ 1.78575258,  0.        ,  0.        , -0.        , -0.        ],
       [ 0.        ,  0.        , -0.        , -0.        , -0.        ]])

In [13]:
if (a>1).any():
    print('some a are >1')

some a are >1

In [17]:
if (a>1).all():
    print('all a >1')
else:
    print('not all a >1')

not all a >1

In [18]:
import pandas as pd

In [20]:
data = {'school': ['Texas', 'Texas', 'Texas', 'UGA', 'UGA'], 'year': [2014,2015,2016,2015,2016], 'wins':[6,5,5,10,8]}

In [23]:
df= pd.DataFrame(data)
df

  school  wins  year
0  Texas     6  2014
1  Texas     5  2015
2  Texas     5  2016
3    UGA    10  2015
4    UGA     8  2016

In [25]:
df['winning season'] = df['wins'] > 6
df

  school  wins  year  winning season
0  Texas     6  2014           False
1  Texas     5  2015           False
2  Texas     5  2016           False
3    UGA    10  2015            True
4    UGA     8  2016            True

In [32]:
df['winning 2016'] = (df.wins>6) & (df.year==2016)
df

  school  wins  year  winning season  winning 2016
0  Texas     6  2014           False         False
1  Texas     5  2015           False         False
2  Texas     5  2016           False         False
3    UGA    10  2015            True         False
4    UGA     8  2016            True          True

In [35]:
# slice with multiple:

df = df[(df.school =='Texas') & (df.year>2014)]
df

  school  wins  year  winning season  winning 2016
1  Texas     5  2015           False         False
2  Texas     5  2016           False         False

In [38]:
#Try statement
try:
    df = pd.read_csv('mydata.csv')
except:
    print('data not there')

data not there

In [46]:
# difference between is and ==

### is tests identity while == tests equality

In [47]:
a = [1,2,3]
b=a
c = [1,2,3]

In [48]:
a ==b

True

In [49]:
a==c

True

In [50]:
a is b

True

In [51]:
a is c

False

In [55]:
i = 0
while i < 10:
    print(i)
    i += 2

0
2
4
6
8

In [63]:
# break

#finds prime
for n in range(2, 10):
    for x in range(2,n):
        if n % x ==0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [67]:
# continue
# finds even
for num in range(2,10):
    if num % 2 == 0:
        print(num, 'is even number')
        continue #nothing after continue is called will be executed
    print(num,'is odd number')

2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [70]:
students = [("alex", ["compsci", "physics"]), ("justin", ["math", "compsci", "stats"]), ("matt", ["compsci", "accounting", "econ"]), ("zehra", ["compsci", "econ", "stats"])]

In [71]:
students

[('alex', ['compsci', 'physics']),
 ('justin', ['math', 'compsci', 'stats']),
 ('matt', ['compsci', 'accounting', 'econ']),
 ('zehra', ['compsci', 'econ', 'stats'])]

In [72]:
#loop over list of lists

for (name, subjects) in students:
    print(name, 'takes', len(subjects), 'courses')

alex takes 2 courses
justin takes 3 courses
matt takes 3 courses
zehra takes 3 courses

In [74]:
for (name, subjects) in students:
    for course in subjects:
        print(name, 'takes', course)

alex takes compsci
alex takes physics
justin takes math
justin takes compsci
justin takes stats
matt takes compsci
matt takes accounting
matt takes econ
zehra takes compsci
zehra takes econ
zehra takes stats

In [75]:
# list comprehensions:

all_files = ['bins', 'data', 'Desktop', '.bashrc', '.ssh', '.vimrc']

In [82]:
not_hidden = [el for el in all_files if el[0] != '.']
not_hidden

['bins', 'data', 'Desktop']

In [85]:
num = [1,2,3,4,5,6]
sqrs = [x**2 for x in num]
sqrs

[1, 4, 9, 16, 25, 36]

In [95]:
import time
N = 5000000
start_time = time.time()
for i in range(N):
    sqrs = [x**2 for x in num]
end_time = time.time()
print('list comp time is', end_time - start_time)

start_time = time.time()
squares = []
for i in range(N):
    for j in range(len(num)):
        squares.append(num[j] ** 2)
end_time = time.time()

print('loops time is', end_time - start_time)

list comp time is 8.210467100143433
loops time is 12.090218305587769